<div class="pagination">
  <div class="pagination-item">
  {% if page.previous.url %}
    <a href="{{page.previous.url}}"
       title="Previous Post: {{page.previous.title}}">
      &xlarr; Previous
    </a>
  {% else %}
    <span class="no-link">&xlarr; Previous</span>
  {% endif %}    
  </div><!-- /.pagination-item -->
  <div class="pagination-item">
    <a href="/blog.html">
      Home
    </a>    
  </div><!-- /.pagination-item -->

  <div class="pagination-item">
  {% if page.next.url %}
    <a href="{{page.next.url}}"
       title="next Post: {{page.next.title}}">
      Next &xrarr;
    </a>
  {% else %}
    <span class="no-link">Next &xrarr;</span>
  {% endif %}    
  </div><!-- /.pagination-item -->
</div><!-- /.pagination -->
