<section class="section-clients section-fullpage">
	<div class="section-container">
		<header class="section-head animated">
			<h2>We Have <strong>Strong Relationships</strong> With The Best in the Industry</h2>
		</header><!-- /.section-head -->

		<div class="section-body">
			<div class="section-entry animated">
				<p>Particle41 core competency is delivering best-in-class cloud systems integration and application development. Our partnership and extensive experience  enables us to offer high performing solutions, tailored with the tools and capabilities to fit your day-to-day processes and long-term needs.</p>
			</div><!-- /.section-entry -->

			<ul class="list-clients animated">
				<li>
					<img src="css/images/temp/logo-amazon.png" alt="" />
				</li>

				<li>
					<img src="css/images/temp/logo-rails.png" alt="" />
				</li>

				<li>
					<img src="css/images/temp/logo-nodejs.png" alt="" />
				</li>

				<li>
					<img src="css/images/temp/logo-docker.png" alt="" />
				</li>

				<li>
					<img src="css/images/temp/logo-chef.png" alt="" />
				</li>

				<li>
					<img src="css/images/temp/logo-pivotal-tracker.png" alt="" />
				</li>

				<li>
					<img src="css/images/temp/logo-slack.png" alt="" />
				</li>
			</ul><!-- /.list-clients -->
		</div><!-- /.section-body -->

		<footer class="section-actions animated">
			<a href="partners.html" class="btn btn-primary">Learn More</a>
		</footer><!-- /.section-actions -->
	</div><!-- /.section-container -->
</section><!-- /.section-clients -->