<section class="section-services section-fullpage">
	<div class="section-container">
		<header class="section-head">
			<h2>Products <strong>&amp; Services</strong></h2>
		</header><!-- /.section-head -->

		<div class="section-body">
			<ul class="services">
				<li class="service service-solid service-1 animated">
					<figure class="service-image">
						<img src="css/images/temp/photo2.jpg" alt="Migration Services Photo" />
					</figure><!-- /.service-image -->

					<div class="service-content">
						<h3>Migration <strong>Services</strong></h3>

						<p>Migrating your mission-critical services is a business decision, not a technical one.</p>

						<a href="migration-services.html" class="btn btn-primary">Learn More</a>
					</div><!-- /.service-content -->
				</li><!-- /.service service-solid service-1 -->

				<li class="service service-hollow service-2 animated">
					<figure class="service-image service-image-large">
						<img src="css/images/temp/photo1.jpg" alt="Application Development Photo" />
					</figure><!-- /.service-image -->

					<div class="service-content">
						<h3>Application <strong>Development</strong></h3>

						<p>The value of your cloud is determined by one critical thing: how smoothly your applications run on it.</p>

						<a href="application-development.html" class="btn btn-primary">Learn More</a>
					</div><!-- /.service-content -->
				</li><!-- /.service service-hollow service-2 -->

				<li class="service service-solid service-3 animated">
					<figure class="service-image service-image-large">
						<img src="css/images/temp/photo4.jpg" alt="Smart Data Photo" />
					</figure><!-- /.service-image -->

					<div class="service-content">
						<h3>Smart Data</h3>

						<p>Data is your most valuable asset. Yet there is no single standard for organizing the vast amounts of information produced by today’s proprietary and open technologies.</p>

						<a href="smart-data.html" class="btn btn-primary">Learn More</a>
					</div><!-- /.service-content -->
				</li><!-- /.service service-solid service-3 -->

				<li class="service service-hollow service-4 animated">
					<figure class="service-image">
						<img src="css/images/temp/photo3.jpg" alt="Managed Services Photo" />
					</figure><!-- /.service-image -->

					<div class="service-content">
						<h3>Managed <strong>Services</strong></h3>

						<p>When you choose Particle41 as your provider, we will handle all your managed service needs.</p>

						<a href="managed-services.html" class="btn btn-primary">Learn More</a>
					</div><!-- /.service-content -->
				</li><!-- /.service service-hollow service-4 -->

				<li class="service service-hollow service-5 animated">
					<figure class="service-image">
						<img src="css/images/temp/photo6.jpg" alt="Deployment Photo" />
					</figure><!-- /.service-image -->

					<div class="service-content">
						<h3>Deployment</h3>

						<p>Deployment of your cloud-based systems should be light switch like in its execution.</p>

						<a href="deployment.html" class="btn btn-primary">Learn More</a>
					</div><!-- /.service-content -->
				</li><!-- /.service service-hollow service-5 -->

				<li class="service service-hollow service-6 animated">
					<figure class="service-image service-image-large">
						<img src="css/images/temp/photo5.jpg" alt="Automation Photo" />
					</figure><!-- /.service-image -->

					<div class="service-content">
						<h3>Automation</h3>

						<p>Any application development that involves cloud architecture comes with its own set of challenges.</p>

						<a href="automation.html" class="btn btn-primary">Learn More</a>
					</div><!-- /.service-content -->
				</li><!-- /.service service-hollow service-6 -->
			</ul><!-- /.services -->
		</div><!-- /.section-body -->
	</div><!-- /.section-container -->
</section><!-- /.section-services -->