<section class="section-process section-fullpage">
	<div class="section-container">
		<header class="section-head">
			<h2>Our <strong>Process</strong></h2>
		</header><!-- /.section-head -->

		<div class="section-body">
			<ol class="process animated">
				<li class="process-item">
					<span class="process-icon process-icon-large">
						<i class="ico-reload"></i>
					</span>

					<div class="process-content">
						<h4>Understand Customer Needs and Current Process</h4>

						<p>Our proven process has helped businesses just like yours reach beyond their present abilities.</p>
					</div><!-- /.process-content -->
				</li><!-- /.process-item -->

				<li class="process-item">
					<span class="process-icon">
						<i class="ico-target"></i>
					</span>

					<div class="process-content">
						<h4>Identify How and Where We Can Help</h4>

						<p>We establish a project plan that meets your needs big or small and we review the plan with you often.</p>
					</div><!-- /.process-content -->
				</li><!-- /.process-item -->

				<li class="process-item">
					<span class="process-icon">
						<i class="ico-webpage"></i>
					</span>

					<div class="process-content">
						<h4>Implement Custom Solutions</h4>

						<p>Using the latest Open Source Frameworks we can rapidly meet your biggest needs and rapidly make a difference.</p>
					</div><!-- /.process-content -->
				</li><!-- /.process-item -->

				<li class="process-item">
					<span class="process-icon">
						<i class="ico-graph"></i>
					</span>

					<div class="process-content">
						<h4>Measure Effectiveness of Changes</h4>

						<p>We partner with you to evaluate your business’s technology to continue to accelerate growth.</p>
					</div><!-- /.process-content -->
				</li><!-- /.process-item -->
			</ol><!-- /.process -->
		</div><!-- /.section-body -->
	</div><!-- /.section-container -->
</section><!-- /.section-process -->
