<section class="section-monitoring section-fullpage">
	<div class="section-container">
		<header class="section-head">
			<h2>Continuous <strong>Monitoring</strong></h2>
		</header><!-- /.section-head -->

		<div class="section-body">
			<div class="section-content">
				<div class="accordion">
					<div class="accordion-section accordion-section-expanded">
						<div class="accordion-head">
							<h3>Strategy</h3>
						</div><!-- /.accordion-head -->

						<div class="accordion-body">
							<div class="accordion-content">
								<figure class="accordion-image">
									<i class="ico-strategy"></i>
								</figure><!-- /.accordion-image -->

								<p>We specialize in working with best-of-breed Tech vendors. We want to leverage our experience to assist you in fine tuning your vision, and then help avoid obstacles in the development process. By using the latest in cloud technologies, we can help you navigate the landscape of options to successfully execute your ideas.</p>
							</div><!-- /.accordion-content -->
						</div><!-- /.accordion-body -->
					</div><!-- /.accordion-section -->

					<div class="accordion-section">
						<div class="accordion-head">
							<h3>Insight</h3>
						</div><!-- /.accordion-head -->

						<div class="accordion-body">
							<div class="accordion-content">
								<figure class="accordion-image">
									<i class="ico-lightbulb"></i>
								</figure><!-- /.accordion-image -->

								<p>“Manage by Measure” is often easier said then done. To ensure that we accomplish this with you, we produce high quality dashboards that highlight decision making data, delivering insights to you in real time. We deal with the terabytes of data to accomplish this so you don’t have to, boiling down the data to answer your specific questions.</p>
							</div><!-- /.accordion-content -->
						</div><!-- /.accordion-body -->
					</div><!-- /.accordion-section -->

					<div class="accordion-section">
						<div class="accordion-head">
							<h3>Scale</h3>
						</div><!-- /.accordion-head -->

						<div class="accordion-body">
							<div class="accordion-content">
								<figure class="accordion-image">
									<i class="ico-scale"></i>
								</figure><!-- /.accordion-image -->

								<p>Take your business and make it work better for less. Grow your customer base without increasing your costs. We are experts in business automation and in driving efficiencies. We can help with business process improvements and platform upgrades that will help scale your bottom line.</p>
							</div><!-- /.accordion-content -->
						</div><!-- /.accordion-body -->
					</div><!-- /.accordion-section -->

					<div class="accordion-section">
						<div class="accordion-head">
							<h3>Optimize</h3>
						</div><!-- /.accordion-head -->

						<div class="accordion-body">
							<div class="accordion-content">
								<figure class="accordion-image">
									<i class="ico-mixer"></i>
								</figure><!-- /.accordion-image -->

								<p>Nothing matters more to us than the success of our clients. Software development is a tool that enables your most extraordinary ideas to supply your bottom line through new revenue creation. We want to help you navigate your advertising opportunities while ensuring that you are receiving the greatest return for your promotion investment.</p>
							</div><!-- /.accordion-content -->
						</div><!-- /.accordion-body -->
					</div><!-- /.accordion-section -->
				</div><!-- /.accordion -->
			</div><!-- /.section-content -->

			<figure class="section-image">
				<img src="css/images/temp/photo7.jpg" alt="" />
			</figure><!-- /.section-image -->
		</div><!-- /.section-body -->
	</div><!-- /.section-container -->
</section><!-- /.section-monitoring -->