<!DOCTYPE html>
<html lang="en">
	{% include head.shtml  %}
	<body>
		<div class="wrapper">
			<div class="fullpage-background" id="background"></div><!-- /.fullpage-background -->
			{% include header.shtml %}
			{% include sections/nav.shtml %}
			<div class="container">
				<div class="shell">
					<div class="main" id="fullpage">
						{{ content }}
					</div> <!-- /.main -->
					{% include footer.shtml %}
				</div> <!-- /.shell -->
			</div> <!-- /.container -->	
		</div> <!-- /.wrapper -->
	</body>
</html>
