/* ------------------------------------------------------------ *\
	List
\* ------------------------------------------------------------ */

[class^="list-"] { list-style: none outside none; }

/* ------------------------------------------------------------ *\
	List Clients
\* ------------------------------------------------------------ */

.list-clients { font-size: 0; line-height: 0; text-align: center; }
.list-clients li { display: inline-block; vertical-align: top; padding: 0 18px; }
.list-clients img { width: auto; height: 39px; display: block; @extend unselectable; }

$breakpoint-small-desktop {
	.list-clients li { padding: 0 5px; }
}

$breakpoint-tablet-portrait {
	.list-clients li { padding-bottom: 20px; }
}

$breakpoint-mobile {
	.list-clients { max-width: 325px; margin: auto; }
	.list-clients li { padding: 0 8px 30px; }
	.list-clients img { height: 20px; opacity: .7; }
}

/* ------------------------------------------------------------ *\
	List Socials
\* ------------------------------------------------------------ */

.list-socials { font-size: 0; line-height: 0; text-align: center; padding-bottom: 28px; }
.list-socials li { display: inline-block; vertical-align: top; padding: 0 10px; }
.list-socials a { display: block; opacity: 1; }
.list-socials a:hover { opacity: .6; }

/* ------------------------------------------------------------ *\
	List Checks
\* ------------------------------------------------------------ */

.list-checks { padding-right: 50px; }
.list-checks li { line-height: 2; position: relative; padding-left: 60px; margin-bottom: 32px; }
.list-checks li i { position: absolute; top: 7px; left: 16px; }
.list-checks li strong { color: $color-action; }

/* List-checks-secondary*/

.list-checks-secondary li { padding-left: 69px; }
.list-checks-secondary li i { top: 3px; left: 25px;}

$breakpoint-mobile {
	.list-checks { padding-right: 0; }
	.list-checks li { padding-left: 40px; }
	.list-checks li i { left: 0px;  }
}

/* ------------------------------------------------------------ *\
	List Case Studies
\* ------------------------------------------------------------ */

.list-case-studies:after { @extend clearfix; }

.list-case-studies li { width: 33.33%; width: calc(100% / 3); float: left; padding: 0 20px 145px; }
.list-case-studies a { width: 220px; height: 220px; display: block; position: relative; margin: auto; background: rgba(5,35,60,.5); border-radius: 50%; }
.list-case-studies a:before { content: '+'; font-size: 16px; line-height: 1.19; color: $color-action; font-weight: 700; text-align: center; width: 71px; height: 71px; display: block; position: absolute; padding: 24px 0; border: 1px solid rgba(71,152,218,.5); border-radius: 50%; transition: all .4s ease; }
.list-case-studies img { display: block; position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; }

.list-case-studies a:hover { text-decoration: none; background: rgba(5,35,60,.9); }
.list-case-studies a:hover:before { color: $color-white; border-color: $color-action; background-color: $color-action; }

.list-case-studies .list-item-1 a:before { font-size: 17px; line-height: 1.12; width: 93px; height: 93px; bottom: 1px; right: -51px; padding: 37px 0; }
.list-case-studies .list-item-2 a:before { top: -23px; left: -12px; }
.list-case-studies .list-item-3 a:before { width: 76px; height: 76px; top: -31px; left: -5px; padding: 27px 0; }
.list-case-studies .list-item-4 a:before { font-size: 17px; line-height: 1.12; width: 79px; height: 79px; bottom: -20px; left: -20px; padding: 29px 0; }
.list-case-studies .list-item-5 a:before { width: 74px; height: 74px; top: -49px; right: 30px; padding: 26px 0; }
.list-case-studies .list-item-6 a:before { width: 68px; height: 68px; bottom: -1px; right: -31px; padding: 23px 0; }
.list-case-studies .list-item-7 a:before { width: 60px; height: 60px; top: -19px; right: 3px; padding: 19px 0; }
.list-case-studies .list-item-8 a:before { width: 75px; height: 75px; top: 2px; right: -31px; padding: 26px 0; }

$breakpoint-tablet-portrait {
	.list-case-studies li { width: 50%; }
}

$breakpoint-mobile {
	.list-case-studies li { width: 100%; padding-bottom: 60px; }
	.list-case-studies li:nth-child(odd) a:before { top: -30px; bottom: auto; left: auto; right: -5px; }
	.list-case-studies li:nth-child(even) a:before { top: -30px; bottom: auto; left: -5px; right: auto; }
}
