/* ------------------------------------------------------------ *\
	Nav Toggle
\* ------------------------------------------------------------ */

.nav-toggle { width: 50px; height: 50px; display: block; position: fixed; top: 50px; left: auto; right: 70px; z-index: 11; padding-top: 4px; border: 0; margin-left: 638px; overflow: hidden; background: none; border-radius: 0; box-shadow: none; @extend appearance; transition: top .45s ease; }
.nav-toggle span { width: 20px; height: 3px; display: block; position: relative; top: 0px; left: 0px; margin: 0 auto 4px; background-color: $color-white; transform: rotate(0deg); transition: all .35s ease; }

$breakpoint-large-desktop {
	.nav-toggle { right: 40px; left: auto; margin: 0; }
}

$breakpoint-medium-desktop {
	.nav-toggle { right: 15px; }
}

$breakpoint-tablet-portrait {
	.nav-toggle { top: 25px; right: 15px; }
}

$breakpoint-mobile {
	.nav-toggle { top: 23px; right: 11px; }
}

/* ------------------------------------------------------------ *\
	Nav
\* ------------------------------------------------------------ */

.nav { visibility: hidden; font-size: 40px; line-height: 1.55; width: 100%; height: 100.01%; position: fixed; top: 0; right: 0; transition: z-index .35s ease, background-color .35s ease; }
.nav a { display: inline-block; padding-right: 33px; border-bottom: 2px solid transparent; }
.nav li { padding: 5px 0 3px; }
.nav li ul { padding: 15px 0; }
.nav li li { font-size: 20px; line-height: 2; padding: 6px 0; }

.nav a:hover,
.nav .current > a { text-decoration: none; border-bottom-color: $color-action; }

.nav li li a:hover,
.nav li .current > a { color: $color-action; }

.nav-container { width: 388px; min-height: 100%; padding: 118px 25px 75px 72px; margin-left: auto; background-color: color($color-base a(70%)); transform: translateX(100%); transition: transform .35s ease; }

$breakpoint-mobile {
	.nav { font-size: 30px; }
	.nav li { padding: 0; }
	.nav li ul { padding: 0 0 10px; }
	.nav a { padding: 8px 0 6px; }
	.nav li li { font-size: 16px; line-height: 1.25; }
	.nav li li a { padding: 7px 0; }

	.nav-container { width: 100%; padding: 69px; background-color: $color-base; }
}

/* ------------------------------------------------------------ *\
	Nav Secondary
\* ------------------------------------------------------------ */

.nav-secondary { float: right; padding-right: 40px; }
.nav-secondary li { float: left; }
.nav-secondary a { color: color($color-white a(70%)); display: block; padding: 7px 8px; }
.nav-secondary a:hover { color: $color-white; text-decoration: none; }

$breakpoint-large-desktop {
	.nav-secondary { padding-right: 50px; }
}

$breakpoint-mobile {
	.nav-secondary { position: relative; }
}

$breakpoint-mobile-landscape{
	.nav-secondary { position: relative; }
}

/* ------------------------------------------------------------ *\
	Nav Visible
\* ------------------------------------------------------------ */

.nav-visible { overflow: visible; }
.nav-visible body { overflow: hidden; }
.nav-visible .wrapper { height: 100%; margin-left: -50px; background-image: none; }
.nav-visible .wrapper-secondary { background-image: url(images/wrapper-bg2.jpg); background-size:cover; height: auto;}
.nav-visible .header { background-color: transparent; }

.nav-visible .nav { visibility: visible; z-index: 9; overflow-x: hidden; overflow-y: scroll; -webkit-overflow-scrolling: touch; background-color: color($color-base a(70%)); }
.nav-visible .nav-container { transform: translateX(0%); }

.nav-visible .nav-toggle { margin-right: 17px; }
.nav-visible .nav-toggle span:first-child { transform: rotate(135deg); top: 7px; }
.nav-visible .nav-toggle span:nth-child(2) { left: -100px; }
.nav-visible .nav-toggle span:last-child { transform: rotate(-135deg); top: -7px; }

$breakpoint-tablet-portrait {
	.nav-visible .nav-toggle { margin-right: 0; }
}

$breakpoint-mobile {
	.nav-visible .nav { background-color: $color-base; }
	.nav-visible .wrapper { margin: 0; }
}

/* ------------------------------------------------------------ *\
	Nav Services
\* ------------------------------------------------------------ */

.nav-services { text-align: center; position: relative; padding-top: 4px; }
.nav-services:before { content: ''; width: 100vw; height: 1px; position: absolute; bottom: -1px; left: 50%; margin-left: -50vw; background: #3c85c0; }

.nav-services li { display: inline-block; }
.nav-services a { text-decoration: none; display: inline-block; position: relative; padding: 24px 28px 24px 26px; border-bottom: 2px solid transparent; border-radius: 5px 5px 0 0; }
.nav-services a i { margin-right: 15px; }
.nav-services a span { display: inline-block; vertical-align: middle; }

.nav-services a:hover:before { content: ''; width: 100%; height: 3px; position: absolute; bottom: -6px; left: 0; background: #3c85c0; }

.nav-services .current a { color: #8fcdff; border-bottom-color: #3c85c0; background: #05233c; }

.nav-services .ico-app { width: 17px; height: 26px; }
.nav-services .ico-cloud { width: 29px; height: 18px; }
.nav-services .ico-gear { width: 26px; height: 26px; }
.nav-services .ico-ken { width: 22px; height: 26px; }
.nav-services .ico-box { width: 23px; height: 26px; }
.nav-services .ico-paperplane { width: 26px; height: 26px; }

$breakpoint-medium-desktop {
	.nav-services { padding-top: 0; }
	.nav-services a { padding: 14px 15px; }
	.nav-services a i { margin-right: 5px; }
}

$breakpoint-small-desktop {
	.nav-services ul { margin: 0 -15px; }
	.nav-services a { padding: 14px 7px; }
	.nav-services a i { margin-right: 2px; }
}

$breakpoint-tablet-portrait{
	.nav-services { height: 50px; position: relative; }
	.nav-services ul { width: 100%; display: flex; flex-wrap: wrap; position: absolute; top: 0; left: 0; z-index: 1; margin: 0; background: #05233c; border-radius: 5px 5px 0 0; }
	.nav-services li { width: 100%; height: 50px; display: none; position: relative; cursor: pointer; color: #fff; }
	.nav-services li a { text-decoration: none; display: block; position: absolute; top: 50%; left: 0; width: 100%; padding: 5px 10px; transform: translateY(-50%); }
	.nav-services li i { width: 50px; height: 20px; display: inline-block; }

	.nav-services .current { width: 100%; display: block; }
	.nav-services .current a { border-bottom: none; }
	
	.nav-services .nav-services-toggle { width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: 2; border-bottom: 2px solid #3c85c0; cursor: pointer; }

	.nav-services .nav-services-toggle:before { width: 25px; height: 24px; border: 1px solid color($color-action a(90%)); margin-top: -12px; border-radius: 50%; }
	.nav-services .nav-services-toggle:after { @mixin chevron 8px, 1px, color($color-action a(90%)), -5px 8px 0 0, -45deg, 50% 50%, .4s;}

	.nav-services .nav-services-toggle:before,
	.nav-services .nav-services-toggle:after { content: ''; display: block; position: absolute; top: 50%; right: 10px; transition: all .3s ease; }

	.nav-services.open li { display: block; order: 2; }
	.nav-services.open li.current { order: 1; }

	.nav-services.open .nav-services-toggle { display: none; }
}
