/* ------------------------------------------------------------ *\
	Contacts
\* ------------------------------------------------------------ */

.contacts { line-height: 1.25; position: relative; list-style: none outside none; }
.contacts i { display: block; margin-bottom: 18px; }
.contacts address { line-height: 1.5; padding-left: 2px; }
.contacts:before { content: ''; width: 430px; height: 430px; display: block; opacity: .05; position: absolute; top: 0; left: -34px; z-index: 1; background-color: #05233c; border-radius: 50%; }
.contacts:after { @extend clearfix; }

.contacts-item { float: left; position: relative; z-index: 2; background-color: #05233c; border-radius: 50%; }
.contacts-item:before { content: ''; display: block; position: absolute; z-index: 1; border: 1px solid #4798da; margin: 0 auto; border-radius: 50%; }

.contacts-item a,
.contacts-item i,
.contacts-item address { position: relative; z-index: 2; }

.contacts-item-small { width: 189px; height: 189px; padding: 51px 20px 0 41px; margin: 0 50px 0 29px; }
.contacts-item-small:before { top: -40px; right: -40px; bottom: -40px; left: -40px; }

.contacts-item-medium { width: 217px; height: 217px; padding: 75px 20px 0 30px; margin: 78px -80px -50px 0; }
.contacts-item-medium i { margin-bottom: 16px; }
.contacts-item-medium:before { top: -51px; right: -51px; bottom: -51px; left: -51px; }

.contacts-item-large { width: 270px; height: 270px; padding: 81px 20px 0 47px; }
.contacts-item-large i { margin-bottom: 15px; }
.contacts-item-large:before { top: -43px; right: -43px; bottom: -43px; left: -43px; }

$breakpoint-mobile {
	.contacts-item { float: none; }
	.contacts-item-small { margin: 0 0 50px ; }
	.contacts-item-medium { margin: -30px 0 50px auto; }
	.contacts-item-large { margin: 0; }
}
