/* ------------------------------------------------------------ *\
	Section Intro
\* ------------------------------------------------------------ */

.section-intro { position: relative; z-index: 1; padding: 130px 80px 354px; }
.section-intro:after { @extend clearfix; }

.section-intro .section-bubble,
.section-intro .section-glow,
.section-intro .section-images img { display: block; position: absolute; }

.section-intro .section-images img { z-index: 3; @extend unselectable; }
.section-intro .section-images img:first-child { left: 335px; top: -256px; z-index: 5; }
.section-intro .section-images img:nth-child(2) { left: 196px; top: 36px; z-index: 4; }
.section-intro .section-images img:nth-child(3) { left: 146px; top: 406px; z-index: 3; }

.section-intro .section-content { width: 567px; float: right; position: relative; z-index: 6; }
.section-intro .section-content h1 { margin: 0 0 34px 0; }
.section-intro .section-content p { margin-bottom: 30px; }

.section-intro .section-bubble { width: 1200px; height: 1200px; top: 207px; left: 50%; z-index: 2; margin-left: -600px; background-color: color($color-base a(50%)); border-radius: 50%; }

$breakpoint-animations {
	.section-intro .section-images img:first-child { transform: translate(0%, -100%) rotate(60deg) skew(0deg) scale(1); }
	.section-intro .section-images img:nth-child(2) { transform: translate(10%, -90%) rotate(100deg) skew(-20deg) scale(.5);  transition-delay: .6s; }
	.section-intro .section-images img:nth-child(3) { transform: translate(10%, -85%) rotate(80deg) skew(0deg) scale(.55); transition-delay: .9s; }

	.section-intro .section-images img.animated-in { transform: translate(0%, 0%) rotate(0deg) skew(0deg) scale(1); }
	
	.section-intro .section-content { transition: opacity .7s ease 1.75s, visibility .7s ease 1.5s; }
	.section-intro .section-bubble { transform: translateY(100%) scale(0); transition: transform .5s ease 1.2s; }

	.section-intro .section-content.animated-in { transform: translateX(0%); }
	.section-intro .section-content.animated-in ~ .section-bubble { transform: translateY(0%) scale(1); }
}

$breakpoint-large-desktop {
	.section-intro { font-size: 0; line-height: 0; padding: 0; }
	.section-intro .section-content { font-size: $font-size-base; line-height: $line-height-base; width: 50%; float: none; display: inline-block; vertical-align: middle; }
	.section-intro .section-content-inner { max-width: 560px; }
	
	.section-intro .section-images { width: 50%; display: inline-block; vertical-align: middle; position: relative; }
	.section-intro .section-images img { max-width: 70%; position: relative; }
	.section-intro .section-images img:first-child { top: 0; left: 0; margin: -300px 0 0 300px; }
	.section-intro .section-images img:nth-child(2) { top: 0; left: 0; margin-left: 120px; }
	.section-intro .section-images img:nth-child(3) { top: 0; left: 0; margin: 0 0 -100px 50px; }
}

$breakpoint-medium-desktop {
	.section-intro .section-images img:first-child { margin: -200px 0 0 200px; }
	.section-intro .section-images img:nth-child(2) { margin-left: 50px; }
	.section-intro .section-images img:nth-child(3) { margin-left: 0; }
}

$breakpoint-tablet-portrait {
	/*.section-intro { padding: 50px 0; }*/
	
	.section-intro .section-images { display: none; }
	.section-intro .section-bubble { left: 0; margin: 0; }

	.section-intro .section-content { width: auto; display: block; }
	.section-intro .section-content-inner { margin: auto; }

	/* bellow code is to make carousel swipe effect from edge to edge. */
	.section-intro .owl-carousel .owl-stage-outer { overflow: visible; }
	.section-intro .section-container { margin-left: -2%; }
	.section-intro .section-content-inner { max-width: initial; margin: auto; }
	.section-intro .owl-stage-outer .owl-stage .owl-item { padding-left: 25px; padding-right: 25px; }	
}

$breakpoint-mobile {
	.section-intro { padding: 33px 0 42px; z-index: 2; }

	.section-intro .section-content h1 { margin-bottom: 32px; }
	.section-intro .section-content p { letter-spacing: 1px; padding-left: 3px; margin-bottom: 17px; }
	.section-intro .section-content p br { display: none; }

	.section-intro .section-bubble { top: 255px; left: -110px; }

	/* bellow code is to make carousel swipe effect from edge to edge. */
	.section-intro .owl-carousel .owl-stage-outer { overflow: visible; }
	.section-intro .section-container { margin-left: -7%; }
	.section-intro .section-content-inner { max-width: initial; margin: auto; }
	.section-intro .owl-stage-outer .owl-stage .owl-item { padding-left: 25px; padding-right: 25px; }
}

$breakpoint-mobile-landscape {
	.section-intro .section-container { margin-left: -4%; }
}
/* ------------------------------------------------------------ *\
	Section Products
\* ------------------------------------------------------------ */

.section-services { position: relative; z-index: 2; padding: 0 80px 181px; }

.section-services .section-head { position: absolute; top: 175px; left: 165px; }
.section-services .section-head h2 { color: $color-action; }
.section-services .section-head h2 strong { color: $color-white; display: block; }

$breakpoint-medium-desktop {
	.section-services { padding: 0 0 80px; }
}

$breakpoint-small-desktop {
	.section-services .section-head { left: 0; }
	.section-services .section-body { padding-top: 40px; }
}

$breakpoint-tablet-portrait {
	.section-services { padding: 50px 0; }

	.section-services .section-head { position: static; top: auto; left: auto; padding-bottom: 50px; }
	.section-services .section-head h2 strong { display: inline; }
}

$breakpoint-mobile {
	.section-services { padding-bottom: 5px; }
	.section-services .section-head { padding-bottom: 70px; }
	.section-services .section-head h2 strong { display: block; }
}

/* ------------------------------------------------------------ *\
	Section Monitoring
\* ------------------------------------------------------------ */

.section-monitoring { padding: 0 80px 240px; }

.section-monitoring .section-head { position: relative; z-index: 2; padding-bottom: 98px; }
.section-monitoring .section-head h2 { color: $color-action; padding: 18px 0; }
.section-monitoring .section-head h2 strong { color: $color-white; }

.section-monitoring .section-body { position: relative; z-index: 1; }
.section-monitoring .section-body:after { @extend clearfix; }

.section-monitoring .section-content { width: 690px; position: relative; z-index: 2; }

.section-monitoring .section-image { width: 1252px; height: 1252px; position: absolute; top: -503px; left: 50%; z-index: 1; margin-left: -240px; }
.section-monitoring .section-image img { width: 100%; display: block; border-radius: 50%; @extend unselectable; }

$breakpoint-medium-desktop {
	.section-monitoring { padding: 0 0 80px; }
	.section-monitoring .section-head { padding-bottom: 40px; }
}

$breakpoint-tablet-portrait {
	.section-monitoring .section-content { width: auto; }
}

$breakpoint-mobile {
	.section-monitoring { padding-bottom: 102px; }
	.section-monitoring .section-head { padding-bottom: 25px; }
	.section-monitoring .section-image { display: none; }
}

/* ------------------------------------------------------------ *\
	Section Process
\* ------------------------------------------------------------ */

.section-process { position: relative; z-index: 3; padding: 148px 0 124px; }

.section-process .section-head { position: absolute; top: 3px; left: 416px; }
.section-process .section-head h2 { color: $color-action; }
.section-process .section-head h2 strong { color: $color-white; display: block; }

$breakpoint-large-desktop {
	.section-process .section-head { left: 350px; }
}

$breakpoint-medium-desktop {
	.section-process { padding: 0 0 100px; }
	.section-process .section-head { position: static; top: auto; left: auto; padding-bottom: 120px; }
}

$breakpoint-tablet-portrait {
	.section-process { padding: 0; }
	.section-process .section-head h2 strong { display: inline; }
}

$breakpoint-mobile {
	.section-process { padding-bottom: 29px; }
	.section-process .section-head { padding-bottom: 57px; }
}

/* ------------------------------------------------------------ *\
	Section Testimonials
\* ------------------------------------------------------------ */

.section-testimonials { padding: 0 80px 166px; }
.section-testimonials:after { @extend clearfix; }

.section-testimonials .section-image { width: 556px; float: left; position: relative; margin: 0 64px 0 69px; }
.section-testimonials .section-image:before { content: ''; width: 236px; height: 236px; display: block; position: absolute; top: 29px; left: -78px; border: 1px solid color($color-line a(40%)); border-radius: 50% ; }
.section-testimonials .section-image img { width: 100%; display: block; position: relative; z-index: 2; @extend unselectable; }

.section-testimonials .section-content { width: 711px; float: right; }
.section-testimonials .section-content h2 { color: $color-action; padding: 10px 0 10px 108px; margin-bottom: 53px; }
.section-testimonials .section-content h2 strong { color: $color-white; display: block; }

.section-testimonials .owl-dots { padding-left: 108px; }

$breakpoint-animations {
	.section-testimonials .testimonial:before,
	.section-testimonials .section-image:before { opacity: 0; visibility: hidden; transition: all .5s ease 1s; }

	.section-testimonials .active .testimonial:before,
	.section-testimonials .section-image.animated-in:before { opacity: 1; visibility: visible; }
}

$breakpoint-large-desktop {
	.section-testimonials .section-image { width: 45%; margin: 0; }
	.section-testimonials .section-content { width: 50%; }
}

$breakpoint-medium-desktop {
	.section-testimonials { padding: 0 0 100px; }
}

$breakpoint-small-desktop {
	.section-testimonials .section-image { width: 30%; }
	.section-testimonials .section-content { width: 69%; }
}

$breakpoint-tablet-portrait {
	.section-testimonials { padding: 0 0 80px; }
	.section-testimonials .section-image { display: none; }
	.section-testimonials .section-content { width: auto; float: none; }
}

$breakpoint-mobile {
	.section-testimonials { padding-bottom: 96px; }
	.section-testimonials .owl-dots { padding-left: 40%; }

	.section-testimonials .section-content h2 { padding-left: 0; margin-bottom: 15px; }

	/* bellow code is to make carousel swipe effect from edge to edge. */
	.section-testimonials .owl-carousel .owl-stage-outer { overflow: visible; }
	.section-testimonials .section-inner-content { margin-left: -25px; }
	.section-testimonials .owl-stage-outer .owl-stage .owl-item { padding-left: 25px; padding-right: 25px; }
}

$breakpoint-mobile-landscape {
	.section-testimonials .owl-dots { padding-left: 44%; }
}

/* ------------------------------------------------------------ *\
	Section Clients
\* ------------------------------------------------------------ */

.section-clients { text-align: center; padding: 0 80px 70px; }
.section-clients .list-clients { padding-bottom: 73px; }

.section-clients .section-head { padding-bottom: 74px; }
.section-clients .section-head h2 { line-height: 1.2; color: $color-white; max-width: 80%; margin: auto; }
.section-clients .section-head h2 strong { color: $color-action; font-weight: 400; }

.section-clients .section-entry { color: color($color-white a(80%)); max-width: 77%; padding-bottom: 88px; margin: auto; }

$breakpoint-animations {
	.section-clients .animated { transition-duration: .7s; }
}

$breakpoint-medium-desktop {
	.section-clients { padding: 0 0 70px; }
	.section-clients .section-head h2 { max-width: none; }
}

$breakpoint-tablet-portrait {
	.section-clients .list-clients { padding-bottom: 43px; }
}

$breakpoint-mobile {
	.section-clients { padding-bottom: 50px; }
	.section-clients .list-clients { padding-bottom: 14px; }

	.section-clients .section-head { padding-bottom: 37px; }
	.section-clients .section-head h2 { line-height: 1; }

	.section-clients .section-entry { max-width: none; padding-bottom: 40px; }
}

/* ------------------------------------------------------------ *\
	Section Features
\* ------------------------------------------------------------ */

.section-features { position: relative; z-index: 3; padding:28px 80px 130px; }

.section-features .section-head { text-align: center; margin-bottom: 90px; }
.section-features .section-head h2 { color: $color-action; margin-bottom: 25px; }
.section-features .section-head h2 strong { color: $color-white; }
.section-features .section-head h4 { font-size: 18px; }

$breakpoint-large-desktop  {
	.section-features { padding: 28px 0 90px; }
}

$breakpoint-medium-desktop {
	.section-features { padding: 28px 0 0; }
}

$breakpoint-mobile {
	.section-features { padding: 0; }
	.section-features .section-head { margin-bottom: 50px; }
}

/* ------------------------------------------------------------ *\
	Section Service
\* ------------------------------------------------------------ */

.section-service { padding: 90px 152px 80px; }

.section-service .list-checks li i { top: 3px; }

.section-service .section-head { text-align: center; padding: 2px 50px 0; margin-bottom: 150px; }
.section-service .section-head h2 { font-size: 50px; color: $color-action; margin-bottom: 40px; }
.section-service .section-head h2 strong { color: $color-white; }
.section-service .section-head h4 { font-size: 18px; line-height: 1.78; }

.section-service .section-inner { margin-bottom: 110px; }
.section-service .section-inner:last-child { margin-bottom: 0; }
.section-service .section-inner:after { @extend clearfix; }
.section-service .section-inner h3 { margin-bottom: 40px; }

.section-service .section-content { width: 50%; float: left; }
.section-service .section-content p { line-height: 2; }

.section-service .section-image { width: 50%; padding-top: 15px; }

.section-service .section-image-left { float: left; }
.section-service .section-image-right { float: right; }

/*  Section Service Migration  */

.section-service-migration { padding-bottom: 176px; }

.section-service-migration .list-checks-secondary { padding-right: 0; }

.section-service-migration .section-image img { display: block; margin: auto; }

.section-service-migration .section-image-left { padding: 11px 0 0 20px; }

.section-service-migration .section-image-right { padding: 58px 56px 0 0; }
.section-service-migration .section-image-right + .section-content { padding-left: 9px; }

/*  Section Service Managed  */

.section-service-managed { padding-bottom: 36px; }

.section-service-managed .section-head { margin-bottom: 111px; }
.section-service-managed .section-inner { margin-bottom: 0; }
.section-service-managed .section-content { padding-top: 108px; }

.section-service-managed .section-image img { display: block; margin: auto; }
.section-service-managed .section-image-left { padding-right: 80px; }
.section-service-managed .section-image-right { padding: 2px 45px 0 0; }
.section-service-managed .section-image-right + .section-content { padding: 153px 0 0 10px; }

/*  Section Service Smart Data  */

.section-service-smart-data { padding-bottom: 100px; }

.section-service-smart-data .section-inner { margin-bottom: 191px; }
.section-service-smart-data .section-content { padding-top: 33px; }
.section-service-smart-data .section-image-left { padding: 9px 0 0 26px; }

.section-service-smart-data .section-image-right { padding-left: 58px; }
.section-service-smart-data .section-image-right + .section-content { padding: 65px 0 0 8px; }

/*  Section Service Automation  */

.section-service-automation { padding-bottom: 54px; }

.section-service-automation .section-inner { margin-bottom: 142px; }
.section-service-automation .section-image-left { padding: 35px 0 0 58px; }

.section-service-automation .section-image-right { text-align: center; width: 52%; padding-top: 54px; }
.section-service-automation .section-image-right + .section-content { width: 48%; padding-left: 7px; }
.section-service-automation .section-image-right + .section-content h3 { margin-bottom: 36px; }

/*  Section Service Deployment  */

.section-service-deployment .list-checks { padding: 0; }
.section-service-deployment .section-inner { margin-bottom: 154px; }

.section-service-deployment .section-image-left { padding-right: 84px; padding-top: 7px; }
.section-service-deployment .section-image-left img { display: block; margin: auto; }

.section-service-deployment .section-image-right { padding: 24px 0 0 74px; }
.section-service-deployment .section-image-right + .section-content { padding: 0 50px 0 7px; }

$breakpoint-large-desktop {
	.section-service-smart-data { padding-bottom: 80px; }
	.section-service-smart-data .section-inner { margin-bottom: 100px; }
	
	.section-service-automation .section-head,
	.section-service-deployment .section-head { margin-bottom: 100px; }
}

$breakpoint-medium-desktop {
	.section-service,
	.section-service-migration,
	.section-service-managed { padding: 90px 0 80px; }

	.section-service-managed .section-head { margin-bottom: 80px; }

	.section-service-smart-data .section-head,
	.section-service-deployment .section-inner { margin-bottom: 100px; }
}

$breakpoint-small-desktop {
	.section-service { padding: 90px 0 80px; }
	.section-service br { display: none; }
	
	.section-service-managed { padding: 90px 0 30px; }
	.section-service-managed .section-inner { margin-bottom: 50px; }
	.section-service-managed .section-content { padding-top: 100px; }

	.section-service-managed .section-image-left { padding-right: 30px; }
	.section-service-managed .section-image-right { padding: 0; }
	.section-service-managed .section-image-right + .section-content { padding: 50px 0 0; }

	.section-service-deployment .section-image-left { padding: 10px 50px 0 0; }
	.section-service-deployment .section-image-right { padding: 25px 0 0 50px; }
	.section-service-deployment .section-image-right + .section-content { padding: 10px 0 0; }
}

$breakpoint-tablet-portrait {
	.section-service-primary .section-image,
	.section-service-primary .section-content,
	.section-service-automation .section-image-right + .section-content { width: auto; float: none; }

	.section-service-primary .section-head { margin-bottom: 80px; }
	.section-service-primary .section-inner { margin-bottom: 50px; }
	.section-service-primary .section-image { padding: 0 0 50px; }
	.section-service-primary .section-image img { display: block; margin: auto; }

	.section-service-managed .list-checks { padding: 0; }

	.section-service-managed .section-content { padding-top: 20px; }
	.section-service-managed .section-image-right { padding: 80px 0 0 20px; }

	.section-service-smart-data .section-image-right + .section-content { padding: 20px 0 0; }
}

$breakpoint-mobile{
	.section-service,
	.section-service-migration { padding: 40px 0 30px; }

	.section-service .section-head { margin-bottom: 30px; padding: 0; }
	.section-service .section-head h2 { font-size: 30px; }
	.section-service .section-head h4 { font-size: 16px; }

	.section-service .section-image-left,
	.section-service .section-image-right { float: none;  }

	.section-service .section-inner { margin-bottom: 30px; }
	.section-service .section-inner h3 { font-size: 24px; }

	.section-service .section-image { width: 100%; text-align: center; margin-bottom: 30px; }
	.section-service .section-content { width: 100%; float: none; }

	.section-service-primary .section-head,
	.section-service-primary .section-inner { margin-bottom: 30px; }

	.section-service-primary .section-image { margin: 0; }
	
	.section-service-managed .section-image { padding: 0; }
	.section-service-managed .section-image-right + .section-content { padding: 0; }

	.section-service-smart-data .section-content { padding: 0; }

	.section-service-primary .section-image-right { padding: 15px 0 40px; }
}

/* ------------------------------------------------------------ *\
	Section Case Studies
\* ------------------------------------------------------------ */

.section-case-studies { padding: 26px 0 38px; }

.section-case-studies .section-head { text-align: center; padding-bottom: 117px; }
.section-case-studies .section-head h1 { color: $color-action; margin-bottom: 23px; }
.section-case-studies .section-head h1 strong { color: $color-white; }
.section-case-studies .section-head p { font-size: 18px; line-height: 1.5; }

.section-case-studies .section-body { padding: 0 98px; }

$breakpoint-large-desktop {
	.section-case-studies .section-body { padding: 0; }
}

$breakpoint-medium-desktop {
	.section-case-studies { padding: 25px 0 0; }
}

$breakpoint-mobile {
	.section-case-studies { padding: 0; }
	.section-case-studies .section-head { padding-bottom: 50px; }	
}

/* ------------------------------------------------------------ *\
	Section Project
\* ------------------------------------------------------------ */

.section-project { line-height: 2; max-width: 1170px; padding: 43px 0 58px; margin: auto; }
.section-project p { margin-bottom: 2em; }
.section-project hr { height: 1px; opacity: .2; border: 0; margin: 55px 0 60px; background-color: #fff; }

.section-project h2,
.section-project h3 { color: $color-action; }

.section-project h2 strong,
.section-project h3 strong { color: $color-white; }

.section-project h2 { font-size: 50px; }
.section-project h3 { font-size: 26px; margin-bottom: 26px; }
.section-project h3 strong { font-weight: 400; }

.section-project .section-head { text-align: center; padding-bottom: 104px; }
.section-project .section-head h2 { margin-bottom: 25px; }
.section-project .section-head p { font-size: 18px; line-height: 1.78; margin: 0; }

.section-project .section-block { padding-bottom: 94px; }
.section-project .section-block:after { @extend clearfix; }

.section-project .section-image { width: 465px; position: relative; float: left; padding: 25px 0 0 87px; }
.section-project .section-image:before { content: ''; width: 270px; height: 270px; display: block; position: absolute; top: -7px; left: 0; z-index: 1; border: 1px solid rgba(71,152,218,.5); border-radius: 50%; }
.section-project .section-image img { display: block; position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; }
.section-project .section-image figure { width: 310px; height: 310px; position: relative; z-index: 2; background-color: rgba(5,35,60,.9); border-radius: 50%; }

.section-project .section-entry { overflow: hidden; }

.section-project .section-body { padding-left: 56px; }
.section-project .section-body p { opacity: .9; }
.section-project .section-body h3 { margin-left: -56px; }

$breakpoint-tablet-portrait {
	.section-project { padding: 0 0 20px; }
	
	.section-project .section-head { padding-bottom: 80px; }
	.section-project .section-block { padding-bottom: 50px; }

	.section-project .section-image { max-width: 310px; float: none; padding: 0; margin: 0 auto 50px; }
	.section-project .section-image:before { top: -30px; left: -50px; }
}

$breakpoint-mobile {
	.section-project .section-body { padding: 0; }
	.section-project .section-body h3 { margin-left: 0; }
}

$breakpoint-mobile-small {
	.section-project .section-image figure { width: 300px; height: 300px; }
}

/* ------------------------------------------------------------ *\
	Section Blog
\* ------------------------------------------------------------ */

.section-blog { max-width: 1240px; padding: 25px 0 36px; margin: auto; }
.section-blog h1 { color: $color-action; margin-bottom: 25px; }
.section-blog h1 strong { color: $color-white; }

.section-blog .section-head { font-size: 18px; line-height: 1.5; text-align: center; padding: 0 30px 145px; }

$breakpoint-small-desktop {
	.section-blog { padding: 0; }
	.section-blog .section-head { padding: 0 0 100px; }
}

$breakpoint-mobile {
	.section-blog .section-head { padding-bottom: 50px; }
}

/* ------------------------------------------------------------ *\
	Section Partners
\* ------------------------------------------------------------ */

.section-partners { max-width: 1170px; padding: 26px 0; margin: auto; }

.section-partners .section-head { font-size: 18px; line-height: 1.5; text-align: center; padding-bottom: 133px; }
.section-partners .section-head h1 { color: $color-action; margin: 0 0 25px; }
.section-partners .section-head h1 strong { color: $color-white; }

$breakpoint-small-desktop {
	.section-partners { max-width: 992px; }
}

$breakpoint-tablet-portrait {
	.section-partners { padding: 0 0 30px; }

	.section-partners .section-head { padding-bottom: 100px; }
	.section-partners .section-body { max-width: 750px; margin: auto; }
}

$breakpoint-mobile {
	.section-partners .section-head { padding-bottom: 30px; }
}
