/* ------------------------------------------------------------ *\
	Feature
\* ------------------------------------------------------------ */

.features,
.feature { display: flex; flex-wrap: wrap; }

.features { list-style: none outside none; }
.features:after { @extend clearfix; }

.feature { text-align: center; width: 33.33%; width: calc(100% / 3); float: left; position: relative; padding: 0 71px 42px; margin-bottom: 94px; }

.feature-head,
.feature-body { width: 100%; }

.feature-body p { font-family: $font-lato; color: rgba(255, 255, 255, 0.8); }

.feature-actions { position: absolute; bottom: 0; right: 0; left: 0; }

.feature-title { min-height:112px; line-height: 112px;}
.feature-title span { display: inline-block; vertical-align: middle; line-height: normal; }

.feature-icon {  text-align: center; position: relative; width: 125px; height: 125px; margin: 0 auto; }
.feature-icon:before { content: ''; position: absolute; border: 1px solid rgba(71, 152, 218, 0.5); border-radius: 50%; z-index: 1; }
.feature-icon span { background: #05233c; display: block; border-radius: 50%; height: 100%; position: relative; z-index: 2; }
.feature-icon i { position: relative; top: 50%; transform:translateY(-50%); }

.feature-secondary .feature-icon span,
.feature-quinary .feature-icon span { background: rgba(5, 35, 60, 0.6); }

.feature-tertiary .feature-icon span { background: rgba(5, 35, 60, 0.4); }
.feature-senary .feature-icon span { background: rgba(5, 35, 60, 0.3); }

.feature-primary .feature-icon:before { width: 72px; height: 72px; top: -2px; left: -5px; }
.feature-secondary .feature-icon:before { width: 62px; height: 62px; top: -16px; right: -15px;  z-index: 3; }
.feature-tertiary .feature-icon:before  { width: 48px; height: 48px;  bottom: -7px; left: -7px; z-index: 3; }
.feature-quaternary .feature-icon:before  { width: 72px; height: 72px; bottom: -9px; right: -16px; z-index: 1; }
.feature-quinary .feature-icon:before  { width: 55px; height: 55px; z-index: 3; top: -9px; ; left: -25px; z-index: 3; }
.feature-senary .feature-icon:before  { width: 72px; height: 72px; bottom: -10px; right: -11px; z-index: 3; }

/* ------------------------------------------------------------ *\
	Responsive
\* ------------------------------------------------------------ */

$breakpoint-large-desktop  {
	.feature { padding: 0 30px 42px; }
}

$breakpoint-tablet-portrait {
	.feature { padding: 0 10px 42px; }	
	.feature-title { font-size: 24px; }
}

$breakpoint-mobile {
	.features { margin-bottom: 0; }

	.feature { width: 100%; float: none; padding: 0; margin-bottom: 60px; }
	.feature .feature-icon:before { z-index: 1; }
	.feature .feature-icon span { background-color: #05233c; }

	.feature-actions { position: static; bottom: auto; right: auto; left: auto; }
	.feature-icon span { border: 1px solid rgba(71, 152, 218, 0.5); }
}
