/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */

.header { position: fixed; top: 0; right: 0; left: 0; z-index: 8; padding: 55px 0; background-color: color(#0a2f4e a(0%)); transition: background-color .45s ease, padding .45s ease; }
.header:after { @extend clearfix; }

.header.scrolled { padding: 15px 0; background-color: color(#0a2f4e a(85%)); }
.header.scrolled ~ .nav-toggle { top: 11px; }

.header .logo { width: 372px; height: 41px; float: left; background: url(images/logo@2x.png) no-repeat 0 0; background-size: 100% 100%; position: fixed; margin-left: -3%; margin-top: 3px; }
.header .shell { min-height: 46px; padding-top: 0; }

.header-inner { padding: 0 80px; }

$breakpoint-large-desktop {
	.header-inner { padding: 0 20px; }
}

$breakpoint-medium-desktop {
	.header-inner { padding: 0; }
}

$breakpoint-tablet-portrait {
	.header { padding: 30px 0; }
	.header .logo { margin-left: -5%; }
}

$breakpoint-mobile {
	.header { height: 70px; }
	.header .logo { width: 270px; height: 30px; position: fixed; margin-left: -5%; }
	.header .shell { min-height: 39px; }
	.header.scrolled { padding: 18px 0; }
}

$breakpoint-mobile-small {
	.header .logo { margin-left: -9%; }
}

$breakpoint-mobile-landscape {
	.header .logo { margin-left: -3%; }
}
